@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello there, welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core and womp womp</a>.</p>
    <img src="~/images/27d7a30faeff999059427922576cb3c9d53542f8-1024x1024.jpg">
</div>
