@page
@model HelloRazor.Pages.ProcessModel
@{
    string[]? processes = ViewData["People"] as string[];
}

<div>
    <h2>Process Page</h2>
    <h4>@ViewData["Message"]</h4>
    <ul>
        @foreach (var process in processes!)
        {
            <li>@process</li>
        }
    </ul>
</div>
